@import "partials/headings";
@import "partials/footer";

.container-margin {
  margin-top: 75px;
}

.login-column {
  max-width: 450px;
}

.ui.container.secondary.pointing {
  .dropdown > .menu {
    margin-top: 0;
  }
}

.slider input[type="range"] {
  -webkit-appearance: none;
  border-radius: 50rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  outline: none;
  margin: 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #00B5AD;
  border-radius: 50rem;
  height: 0.7em;
  width: 0.7em;
}

/*View Style Icons for School and Course Index*/
.menu {
  a.item > i {
    color: black;
    text-decoration: none;
  }
  a.item > i:hover {
    color: grey;
  }
  a.item > i.active {
    color: #00B5AD;
  }
}

.ui.menu.no-gap {
  margin-bottom: 0;
}

.time-input {
  padding-left: 8px !important;
}

.circular.labels.days {
  text-align: center;
}

.circular.label.day {
  margin-right: 0;
  margin-bottom:0;
  font-size: .75rem;
}

.select-width{
  width:100%;
}

ul.ui.error.message {
  list-style: none;
}